@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

body {
  background: #fcfcfc;
}

#tree {
  transform: translate(10px, 10px);
}

#tree path {
  fill: none;
  stroke: #0c0c0c80;
}

#tree circle {
  opacity: 0.8
}

text {
  font-family: "Rancho";
  font-size: 20px;
}
