#content {
  max-width: 100%;
  /*background: #efd7b8;*/
}


table:not(.dataTable) tr:nth-child(2n) {
  background-color: #fcfcfc;
}

body {
  text-align: justify;
}

iframe {
  height: 50px;
  width: 100%;
  margin-left: 5%;
  border-width: 0px;
}